@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Distance Learning</h1>
</div>


<table class="table">
    <tbody>
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="Pupil" asp-controller="Homework" asp-action="Index">Homework</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="Pupil" asp-controller="Timetable" asp-action="Index">Timetable</a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="SkippingClassesReport" asp-action="Index">SkippingClasses</a>
            </td>
        </tr>
    </tbody>
</table>