@model School._Distance_Learning.Models.SkippingClasses

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SkippingClasses</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SkippingClassId" />
            <div class="form-group">
                <label asp-for="TimetableId" class="control-label"></label>
                <select asp-for="TimetableId" class="form-control" asp-items="ViewBag.TimetableId"></select>
                <span asp-validation-for="TimetableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PupilId" class="control-label"></label>
                <select asp-for="PupilId" class="form-control" asp-items="ViewBag.PupilId"></select>
                <span asp-validation-for="PupilId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekNumber" class="control-label"></label>
                <input asp-for="WeekNumber" class="form-control" />
                <span asp-validation-for="WeekNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
